doc
.DS_Store
*.sublime-project
*.sublime-workspace
.idea/JSaw.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

JSaw.esproj/Project.espressostorage

JSaw.esproj/user.miracleblue.espressostorage

JSaw.esproj/.idea/workspace.xml

JSaw.esproj/.idea/vcs.xml

JSaw.esproj/.idea/scopes/scope_settings.xml

JSaw.esproj/.idea/modules.xml

JSaw.esproj/.idea/misc.xml

JSaw.esproj/.idea/encodings.xml

JSaw.esproj/.idea/JSaw.esproj.iml

JSaw.esproj/.idea/.name

.idea/libraries/sass_stdlib.xml

.idea/dictionaries/miracleblue.xml

.idea/codeStyleSettings.xml
